/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: orange;
      }
  
.special {
    color: orange;
    background-color: navy;
    border: solid black;
  }

.souligne {
    text-decoration: underline white;
}

#bloc1 {
    border: 5px solid darkblue;
    width: 40%;
    background-color: orange;
    color: black;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

body {
    background : linear-gradient(to bottom right, yellow, orange )
}