/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: white;
      }
  
.special {
    color: orange;
    background-color: navy;
    border: solid black;
  }

.souligne {
    text-decoration: underline white;
}

.texteblanc {
	color: white
}

#bloc1 {
    border: 5px solid darkblue;
    width: 40%;
    background-color: lightblue;
    color: black;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

body {
    background : linear-gradient(to bottom right, darkblue, LightSteelBlue)
}