/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: red;
    background-color: blue;
  }
  
.special {
    color: orange;
    background-color: navy;
    border: solid black;
  }

.souligne {
    text-decoration: underline red;
}

#bloc1 {
    border: 5px solid red;
    width: 40%;
    background-color: blue;
    color: white;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }